@font-face {
  font-family: 'dreamhome';
  src:  url('../fonts/dreamhome.eot?f9butc');
  src:  url('../fonts/dreamhome.eot?f9butc#iefix') format('embedded-opentype'),
    url('../fonts/dreamhome.ttf?f9butc') format('truetype'),
    url('../fonts/dreamhome.woff?f9butc') format('woff'),
    url('../fonts/dreamhome.svg?f9butc#dreamhome') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-dreamhome-"], [class*=" icon-dreamhome-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'dreamhome' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dreamhome-header-2:before {
  content: "\e984";
}
.icon-dreamhome-compare-3:before {
  content: "\e982";
}
.icon-dreamhome-eyes:before {
  content: "\e983";
}
.icon-dreamhome-location-3:before {
  content: "\e981";
}
.icon-dreamhome-rating:before {
  content: "\e980";
}
.icon-dreamhome-check-path:before {
  content: "\e97f";
}
.icon-dreamhome-new-360:before {
  content: "\e95b";
}
.icon-dreamhome-support:before {
  content: "\e962";
}
.icon-dreamhome-click:before {
  content: "\e963";
}
.icon-dreamhome-checked2:before {
  content: "\e964";
}
.icon-dreamhome-lock:before {
  content: "\e965";
}
.icon-dreamhome-share2:before {
  content: "\e966";
}
.icon-dreamhome-fix:before {
  content: "\e967";
}
.icon-dreamhome-land:before {
  content: "\e968";
}
.icon-dreamhome-garade2:before {
  content: "\e969";
}
.icon-dreamhome-filter3:before {
  content: "\e96a";
}
.icon-dreamhome-home:before {
  content: "\e96b";
}
.icon-dreamhome-location2:before {
  content: "\e96c";
}
.icon-dreamhome-mail5:before {
  content: "\e96d";
}
.icon-dreamhome-phone-call2:before {
  content: "\e96e";
}
.icon-dreamhome-pager:before {
  content: "\e96f";
}
.icon-dreamhome-mail4:before {
  content: "\e970";
}
.icon-dreamhome-phone4:before {
  content: "\e971";
}
.icon-dreamhome-deal:before {
  content: "\e972";
}
.icon-dreamhome-calculator:before {
  content: "\e973";
}
.icon-dreamhome-archive:before {
  content: "\e974";
}
.icon-dreamhome-sale-house:before {
  content: "\e975";
}
.icon-dreamhome-rent-house:before {
  content: "\e976";
}
.icon-dreamhome-buy-house:before {
  content: "\e977";
}
.icon-dreamhome-ruler:before {
  content: "\e978";
}
.icon-dreamhome-bath3:before {
  content: "\e979";
}
.icon-dreamhome-bed2:before {
  content: "\e97a";
}
.icon-dreamhome-point:before {
  content: "\e97b";
}
.icon-dreamhome-filter2:before {
  content: "\e97c";
}
.icon-dreamhome-instagram2:before {
  content: "\e97d";
}
.icon-dreamhome-twitter2:before {
  content: "\e97e";
}
.icon-dreamhome-size1:before {
  content: "\e941";
}
.icon-dreamhome-bath1:before {
  content: "\e94c";
}
.icon-dreamhome-location:before {
  content: "\e94e";
}
.icon-dreamhome-pin1:before {
  content: "\e960";
}
.icon-dreamhome-email2:before {
  content: "\e961";
}
.icon-dreamhome-around-arrow:before {
  content: "\e95f";
}
.icon-dreamhome-2-arrow-right:before {
  content: "\e95d";
}
.icon-dreamhome-2-arrow-left:before {
  content: "\e95e";
}
.icon-dreamhome-arrow-blog:before {
  content: "\e95c";
}
.icon-dreamhome-compare2:before {
  content: "\e95a";
}
.icon-dreamhome-add-button:before {
  content: "\e959";
}
.icon-dreamhome-pin2:before {
  content: "\e958";
}
.icon-dreamhome-honor:before {
  content: "\e954";
}
.icon-dreamhome-money:before {
  content: "\e955";
}
.icon-dreamhome-cart:before {
  content: "\e956";
}
.icon-dreamhome-apartment:before {
  content: "\e957";
}
.icon-dreamhome-office:before {
  content: "\e94f";
}
.icon-dreamhome-villa:before {
  content: "\e950";
}
.icon-dreamhome-house:before {
  content: "\e951";
}
.icon-dreamhome-chat:before {
  content: "\e94d";
}
.icon-dreamhome-arrow-left:before {
  content: "\e94a";
}
.icon-dreamhome-arrow-right:before {
  content: "\e94b";
}
.icon-dreamhome-filter:before {
  content: "\e949";
}
.icon-dreamhome-close:before {
  content: "\e948";
}
.icon-dreamhome-image2:before {
  content: "\e947";
}
.icon-dreamhome-email:before {
  content: "\e945";
}
.icon-dreamhome-incoming-call:before {
  content: "\e946";
}
.icon-dreamhome-pin:before {
  content: "\e953";
}
.icon-dreamhome-book-mark21:before {
  content: "\e952";
}
.icon-dreamhome-book-mark2:before {
  content: "\e943";
}
.icon-dreamhome-star-active:before {
  content: "\e942";
}
.icon-dreamhome-star:before {
  content: "\e944";
}
.icon-dreamhome-minus:before {
  content: "\e93e";
}
.icon-dreamhome-plus:before {
  content: "\e93f";
}
.icon-dreamhome-angle-up:before {
  content: "\e940";
}
.icon-dreamhome-angle-down:before {
  content: "\e93d";
}
.icon-dreamhome-dribble:before {
  content: "\e938";
}
.icon-dreamhome-toggle-on:before {
  content: "\e915";
}
.icon-dreamhome-toggle-off:before {
  content: "\e916";
}
.icon-dreamhome-steam:before {
  content: "\e917";
}
.icon-dreamhome-bitcoin:before {
  content: "\e918";
}
.icon-dreamhome-spotify:before {
  content: "\e91e";
}
.icon-dreamhome-stack-overflow:before {
  content: "\e92e";
}
.icon-dreamhome-slack:before {
  content: "\e92f";
}
.icon-dreamhome-skype:before {
  content: "\e930";
}
.icon-dreamhome-digg:before {
  content: "\e931";
}
.icon-dreamhome-vimeo:before {
  content: "\e932";
}
.icon-dreamhome-youtube:before {
  content: "\e933";
}
.icon-dreamhome-pinterest:before {
  content: "\e934";
}
.icon-dreamhome-google-plus:before {
  content: "\e935";
}
/* .icon-dreamhome-twitter:before {
  content: "\e936";
} */
.icon-dreamhome-behance:before {
  content: "\e937";
}
.icon-dreamhome-instagram:before {
  content: "\e939";
}
.icon-dreamhome-facebook:before {
  content: "\e93a";
}
.icon-dreamhome-linkedin2:before {
  content: "\e93b";
}
.icon-dreamhome-linkedin:before {
  content: "\e93c";
}
.icon-dreamhome-360:before {
  content: "\e914";
}
.icon-dreamhome-printer:before {
  content: "\e913";
}
.icon-dreamhome-garage:before {
  content: "\e923";
}
.icon-dreamhome-heart:before {
  content: "\e926";
}
.icon-dreamhome-image:before {
  content: "\e912";
}
.icon-dreamhome-check-box:before {
  content: "\e91c";
}
.icon-dreamhome-check:before {
  content: "\e91d";
}
.icon-dreamhome-shapes:before {
  content: "\e91f";
}
.icon-dreamhome-calendar:before {
  content: "\e920";
}
.icon-dreamhome-open-eye:before {
  content: "\e922";
}
.icon-dreamhome-sharing:before {
  content: "\e924";
}
.icon-dreamhome-compare:before {
  content: "\e925";
}
.icon-dreamhome-book-mark:before {
  content: "\e92a";
}
.icon-dreamhome-new-tab:before {
  content: "\e92b";
}
.icon-dreamhome-question:before {
  content: "\e92c";
}
.icon-dreamhome-sale:before {
  content: "\e919";
}
.icon-dreamhome-phone-cal:before {
  content: "\e91a";
}
.icon-dreamhome-mail2:before {
  content: "\e91b";
}
.icon-dreamhome-door:before {
  content: "\e921";
}
.icon-dreamhome-size:before {
  content: "\e927";
}
.icon-dreamhome-bath:before {
  content: "\e928";
}
.icon-dreamhome-bed:before {
  content: "\e929";
}
.icon-dreamhome-checked:before {
  content: "\e92d";
}
.icon-dreamhome-map2:before {
  content: "\e90c";
}
.icon-dreamhome-folder:before {
  content: "\e910";
}
.icon-dreamhome-angle-right:before {
  content: "\e906";
}
.icon-dreamhome-angle-left:before {
  content: "\e907";
}
.icon-dreamhome-list:before {
  content: "\e908";
}
.icon-dreamhome-menu:before {
  content: "\e909";
}
.icon-dreamhome-arrow-right2:before {
  content: "\e90a";
}
.icon-dreamhome-like:before {
  content: "\e90b";
}
.icon-dreamhome-search:before {
  content: "\e90d";
}
.icon-dreamhome-date:before {
  content: "\e90e";
}
.icon-dreamhome-message:before {
  content: "\e90f";
}
.icon-dreamhome-user:before {
  content: "\e911";
}
.icon-dreamhome-phone-call:before {
  content: "\e900";
}
.icon-dreamhome-phone:before {
  content: "\e901";
}
.icon-dreamhome-right-arrow:before {
  content: "\e903";
}
.icon-dreamhome-mail:before {
  content: "\e902";
}
.icon-dreamhome-map:before {
  content: "\e904";
}
.icon-dreamhome-price-house:before {
  content: "\e905";
}
